@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities; 

@layer base {
	body {
		color: theme('colors.slatedark.11');
		background-color: theme('colors.graydark.1');
	}
}

@layer components {
	.gradient-bg {
		background-image: radial-gradient(ellipse at top, theme('colors.violetdark.1'), transparent),
											radial-gradient(ellipse at bottom, theme('colors.violetdark.2'), transparent); 
	}
}