.rt-SelectItem {
	padding-left: 4px;
}

.rt-SelectItemIndicator {
	left: auto;
	right: 0
}

.popover-max-height {
	max-height: calc(var(--select-item-height) * 5.5);
}

.variable-badge {
	font-family: monospace;
	background-color: var(--gray-a3);
	border-radius: var(--radius-1);
	padding: 0 var(--space-1);
}

.url-input .rt-TextAreaInput {
	font-family: inherit;
	font-size: inherit;
}


/* 

	CODE MIRROR 

*/

.cm-theme.codemirror-theme {
	--text-area-border-width: 1px;
	padding: var(--text-area-border-width);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-weight: var(--font-weight-regular);
	font-style: normal;
	text-align: start;
	overflow: hidden;
	font-size: var(--font-size-1);
	line-height: var(--line-height-2);
	letter-spacing: var(--letter-spacing-2);
	background-clip: content-box;
	background-color: var(--color-surface);
	box-shadow: inset 0 0 0 var(--text-area-border-width) var(--gray-a7);
	color: var(--gray-12);
	border-radius: var(--radius-2);
  overflow: hidden;
  outline: none; 
}

:root .cm-theme .cm-editor {
  outline: none;
  border-radius: 3px;
}

:root .cm-theme .cm-editor .cm-activeLine {
  background: transparent;
}

.cm-theme.codemirror-theme .CodeMirror {
	background-color: transparent;
	color: inherit;
	padding: var(--space-2);
}

.cm-theme.codemirror-theme:focus-within {
	outline: 2px solid var(--focus-8);
	outline-offset: -1px;
}

.cm-theme.codemirror-theme .CodeMirror .CodeMirror-cursor {
	border-color: var(--gray-12);
}

.cm-theme.codemirror-theme .CodeMirror .CodeMirror-line {
	padding-left: 0;
	padding-right: 0;
}
