.bg-canvas-ui-grid {
	background-color: transparent;
	background-image: radial-gradient(
		circle at 0px 0px, 
		var(--canvas-ui-dot-color, #94a3b8) 1px, 
		transparent 0);
	background-size: 
		var(--canvas-ui-module-size, '4px')
		var(--canvas-ui-module-size, '4px');
	background-position: -1px -1px;
}

:root .children-cursor-grabbing * {
	cursor: grabbing !important;
}


